/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical; }

/* universal styles */
/* primary */
/* graphic design text */
/* photography text */
/* footer */
/* neutral */
html {
  scroll-behavior: smooth; }

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin: 0 !important; }

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif; }

/* header & responsive menu */
header {
  background: url("../images/mobile/image-header.jpg") center/cover;
  height: 540px;
  padding-top: 30px; }

.content-wrapper {
  margin: 0px 25px;
  /* adds a wrapper around our content */ }

header .content-wrapper {
  display: flex;
  /* turn our content wrapper into a flex container, taking advantage of the default flex-direction: row, which causes items to align side by side */
  justify-content: space-between;
  align-items: center; }

.hide-menu {
  display: none;
  /* hide navigation menu by default */ }

.fade-in {
  animation: fadeIn 0.5s 1; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
nav {
  background: white;
  width: 84%;
  position: absolute;
  /* absolute positioning will stop the menu from disrupting the flow of the page */
  margin: 0 !important;
  top: 105px;
  left: 8%;
  right: 8%;
  /* triangle before the mobile menu */ }
  nav::before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 25px solid white;
    border-left: 25px solid transparent;
    position: absolute;
    right: 0;
    top: -25px; }

nav ul {
  list-style-type: none;
  padding: 15px 10px 0px 0px !important;
  /* override any padding that would throw off the layout of the menu */ }

nav ul li {
  margin-bottom: 25px;
  text-align: center; }

nav ul li a:link,
nav ul li a:visited {
  color: #5a636c;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none; }
  nav ul li a:link:hover,
  nav ul li a:visited:hover {
    border-bottom: 3px solid #fad400 !important; }

nav ul li.contact-button {
  padding: 10px 0px 20px 0px !important; }
  nav ul li.contact-button a:link,
  nav ul li.contact-button a:visited {
    background: #fad400 !important;
    border-radius: 30px;
    color: #23303e;
    font-family: "Fraunces", serif;
    font-size: 0.75rem;
    padding: 15px 25px 15px 25px;
    text-transform: uppercase; }
    nav ul li.contact-button a:link:hover,
    nav ul li.contact-button a:visited:hover {
      background: #fe7867 !important;
      border-bottom: none !important;
      transition: 0.3s background-color; }

#menu-toggle-button {
  z-index: 999;
  /* make sure the menu button stays on top */ }

/* hero section */
header .hero-text {
  text-align: center; }
  header .hero-text h1 {
    color: white;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin: 0px 34px;
    padding-top: 105px;
    text-transform: uppercase; }
  header .hero-text img {
    padding-top: 60px; }

/* brand info */
#brand-info {
  /* transform your brand */
  /* stand out to the right audience */
  /* brand services */ }
  #brand-info article:nth-of-type(1) {
    text-align: center; }
    #brand-info article:nth-of-type(1) aside:nth-of-type(1) {
      background: url("../images/mobile/image-transform.jpg") center/cover;
      width: 100%;
      height: 310px; }
    #brand-info article:nth-of-type(1) aside:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 435px; }
      #brand-info article:nth-of-type(1) aside:nth-of-type(2) h2 {
        font-weight: 900;
        font-size: 2rem;
        margin: 0px !important; }
      #brand-info article:nth-of-type(1) aside:nth-of-type(2) p {
        color: #5a636c;
        font-size: 0.95rem;
        margin: 40px 0px; }
      #brand-info article:nth-of-type(1) aside:nth-of-type(2) a:link,
      #brand-info article:nth-of-type(1) aside:nth-of-type(2) a:visited {
        border-bottom: 6px solid rgba(250, 212, 0, 0.5);
        border-radius: 15px;
        color: black;
        display: block;
        font-family: "Fraunces", serif;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        line-height: 0.2rem !important;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 110px;
        margin: 0 auto !important; }
        #brand-info article:nth-of-type(1) aside:nth-of-type(2) a:link:hover,
        #brand-info article:nth-of-type(1) aside:nth-of-type(2) a:visited:hover {
          border-bottom: 6px solid #fad400;
          transition: .3s all; }
  #brand-info article:nth-of-type(2) {
    text-align: center; }
    #brand-info article:nth-of-type(2) aside:nth-of-type(1) {
      background: url("../images/mobile/image-stand-out.jpg") center/cover;
      width: 100%;
      height: 310px; }
    #brand-info article:nth-of-type(2) aside:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 435px; }
      #brand-info article:nth-of-type(2) aside:nth-of-type(2) h2 {
        font-weight: 900;
        font-size: 2rem;
        margin: 0px !important; }
      #brand-info article:nth-of-type(2) aside:nth-of-type(2) p {
        color: #5a636c;
        font-size: 0.95rem;
        margin: 40px 0px; }
      #brand-info article:nth-of-type(2) aside:nth-of-type(2) a:link,
      #brand-info article:nth-of-type(2) aside:nth-of-type(2) a:visited {
        border-bottom: 6px solid rgba(254, 120, 103, 0.5);
        border-radius: 15px;
        color: black;
        display: block;
        font-family: "Fraunces", serif;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        line-height: 0.2rem !important;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 110px;
        margin: 0 auto !important; }
        #brand-info article:nth-of-type(2) aside:nth-of-type(2) a:link:hover,
        #brand-info article:nth-of-type(2) aside:nth-of-type(2) a:visited:hover {
          border-bottom: 6px solid #fe7867;
          transition: .3s all; }
  #brand-info article:nth-of-type(3) {
    text-align: center; }
    #brand-info article:nth-of-type(3) aside:nth-of-type(1) {
      background: url("../images/mobile/image-graphic-design.jpg") center/cover;
      color: #25564b;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 600px; }
      #brand-info article:nth-of-type(3) aside:nth-of-type(1) h2 {
        font-weight: 900; }
      #brand-info article:nth-of-type(3) aside:nth-of-type(1) p {
        font-size: 0.8rem;
        font-weight: 600;
        padding-bottom: 60px; }
    #brand-info article:nth-of-type(3) aside:nth-of-type(2) {
      background: url("../images/mobile/image-photography.jpg") center/cover;
      color: #19536b;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 600px; }
      #brand-info article:nth-of-type(3) aside:nth-of-type(2) h2 {
        font-weight: 900; }
      #brand-info article:nth-of-type(3) aside:nth-of-type(2) p {
        font-size: 0.8rem;
        font-weight: 600;
        padding-bottom: 60px; }

/* client testimonials */
#testimonials {
  padding: 70px 0px 90px 0px; }
  #testimonials h3 {
    color: #a7abae;
    font-size: .95rem;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: uppercase; }
  #testimonials article .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    #testimonials article .content-wrapper img {
      border-radius: 100px;
      width: 75px;
      height: 75px;
      object-fit: cover;
      margin: 60px 0px 40px 0px; }
    #testimonials article .content-wrapper p {
      font-size: .95rem; }
    #testimonials article .content-wrapper h4 span {
      color: #a7abae;
      display: block;
      font-family: "Barlow", sans-serif;
      font-size: .85rem;
      font-weight: 400;
      padding-top: 15px; }

/* gallery images */
#gallery-images {
  display: flex;
  flex-flow: row wrap; }
  #gallery-images img {
    width: 50%; }

/* footer */
footer {
  background: #91d4c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px 75px 0px; }
  footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0px !important;
    padding: 40px 0px 70px 0px !important;
    width: 90%; }
    footer ul li a:link,
    footer ul li a:visited {
      color: #25564b;
      text-decoration: none; }
  footer .footer-social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    width: 70%; }
  footer .attribution {
    color: #25564b;
    font-family: "Fraunces", serif;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase; }
    footer .attribution a:link,
    footer .attribution a:visited {
      color: black;
      text-decoration: none; }

/* desktop styles */
@media screen and (min-width: 1200px) {
  header {
    background: url("../images/desktop/image-header.jpg") center/cover;
    height: 800px; }
    header .hero-text h1 {
      font-size: 3rem;
      letter-spacing: .6rem;
      padding-top: 135px; }
    header .hero-text img {
      padding-top: 110px; }

  /* responsive menu styles */
  .hide-menu {
    display: block !important;
    /* override hidden navigation on large screens */ }

  #menu-toggle-button {
    display: none;
    /* hide hamburger button */ }

  nav {
    background: none;
    left: auto;
    right: 20px;
    /* use absolute positioning to push links to right side of container */
    width: auto;
    /* reset width */
    top: 0; }
    nav::before {
      content: ' ';
      border: none; }

  nav ul li {
    display: inline-block;
    /* display links side by side */
    margin-left: 50px; }
    nav ul li a:link,
    nav ul li a:visited {
      color: white; }
  nav ul li.contact-button a:link,
  nav ul li.contact-button a:visited {
    background: white !important;
    color: black; }
    nav ul li.contact-button a:link:hover,
    nav ul li.contact-button a:visited:hover {
      color: white;
      background: rgba(255, 255, 255, 0.25) !important;
      transition: .3s all; }

  /* brand info */
  #brand-info {
    /* transform your brand */
    /* stand out to the right audience */ }
    #brand-info article:nth-of-type(1) {
      display: flex;
      flex-flow: row-reverse nowrap;
      text-align: left; }
      #brand-info article:nth-of-type(1) aside:nth-of-type(1) {
        background: url("../images/desktop/image-transform.jpg") center/cover !important;
        width: 50%;
        height: 600px; }
      #brand-info article:nth-of-type(1) aside:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 600px; }
        #brand-info article:nth-of-type(1) aside:nth-of-type(2) .content-wrapper {
          margin: 0px 160px 0px 115px; }
        #brand-info article:nth-of-type(1) aside:nth-of-type(2) h2 {
          font-weight: 900;
          font-size: 2.5rem;
          margin: 0px !important; }
        #brand-info article:nth-of-type(1) aside:nth-of-type(2) p {
          color: #5a636c;
          font-size: 1.1rem;
          line-height: 1.75rem;
          margin: 40px 0px; }
        #brand-info article:nth-of-type(1) aside:nth-of-type(2) a:link,
        #brand-info article:nth-of-type(1) aside:nth-of-type(2) a:visited {
          width: 110px;
          margin: 0 !important; }
    #brand-info article:nth-of-type(2) {
      display: flex;
      flex-flow: row nowrap;
      text-align: left; }
      #brand-info article:nth-of-type(2) aside:nth-of-type(1) {
        background: url("../images/mobile/image-stand-out.jpg") center/cover !important;
        width: 50%;
        height: 600px; }
      #brand-info article:nth-of-type(2) aside:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 600px; }
        #brand-info article:nth-of-type(2) aside:nth-of-type(2) .content-wrapper {
          margin: 0px 160px 0px 115px; }
        #brand-info article:nth-of-type(2) aside:nth-of-type(2) h2 {
          font-weight: 900;
          font-size: 2.5rem;
          margin: 0px !important; }
        #brand-info article:nth-of-type(2) aside:nth-of-type(2) p {
          color: #5a636c;
          font-size: 1.1rem;
          line-height: 1.75rem;
          margin: 40px 0px; }
        #brand-info article:nth-of-type(2) aside:nth-of-type(2) a:link,
        #brand-info article:nth-of-type(2) aside:nth-of-type(2) a:visited {
          width: 110px;
          margin: 0 !important; }

  /* brand services */
  article:nth-of-type(3) {
    display: flex;
    flex-flow: row nowrap;
    text-align: center; }
    article:nth-of-type(3) aside:nth-of-type(1) {
      background: url("../images/desktop/image-graphic-design.jpg") center/cover !important;
      width: 50%;
      height: 600px !important; }
      article:nth-of-type(3) aside:nth-of-type(1) h2 {
        font-size: 1.75rem;
        font-weight: 900; }
      article:nth-of-type(3) aside:nth-of-type(1) p {
        font-size: 1rem !important;
        line-height: 1.75rem;
        font-weight: 600;
        padding-bottom: 60px;
        width: 330px;
        margin: 0 auto; }
    article:nth-of-type(3) aside:nth-of-type(2) {
      background: url("../images/desktop/image-photography.jpg") center/cover !important;
      width: 50%;
      height: 600px !important; }
      article:nth-of-type(3) aside:nth-of-type(2) h2 {
        font-size: 1.75rem;
        font-weight: 900; }
      article:nth-of-type(3) aside:nth-of-type(2) p {
        font-size: 1rem !important;
        line-height: 1.75rem;
        font-weight: 600;
        padding-bottom: 60px;
        width: 330px;
        margin: 0 auto; } }
/* ==========================================================================
     Helper classes
     ========================================================================== */
/*
   * Hide visually and from screen readers
   */
.hidden,
[hidden] {
  display: none !important; }

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
   * Hide visually and from screen readers, but maintain layout
   */
.invisible {
  visibility: hidden; }

/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]::after {
    content: " (" attr(href) ")"; }

  abbr[title]::after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
